<!-- Bloque 13:  -->
<div class="col-cb-title" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">
    <div *ngIf="contentBlock.bloqueComponentes.componentes[0] && contentBlock.bloqueComponentes.componentes[1]">
        <div class="b-title-text" >
            <jhi-visor-text [component]="contentBlock.bloqueComponentes.componentes[0]"></jhi-visor-text>
        </div>
        <div class="b-title-text" >
            <jhi-visor-text [component]="contentBlock.bloqueComponentes.componentes[1]"></jhi-visor-text>
        </div>
    </div>
</div>
