<!-- Bloque 14: Tip -->
<style>
  .hidden-tip {
    display: none;
  }
</style>
<div class="col-cb-text-img" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">
    <div *ngFor="let component of contentBlock.bloqueComponentes.componentes; let index = index;">
      <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'text'" class="b-paragraph-text">
          <div *ngIf="contentBlock && contentBlock.bloqueComponentes.tipoBloqueComponentes">
            <div (click)="open = false" [ngClass]="{'hidden-tip': !open}">
              <jhi-visor-text [component]="component"></jhi-visor-text>
            </div>
          </div>
      </div>
      <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'image'" class="cc-image">
        <div (click)="open = true">
          <jhi-visor-image [component]="component"></jhi-visor-image>
        </div>
      </div>
    </div>
  </div>