@import './../../../content/scss/variables.scss';

.col-cb-audio {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  .b-audio-bottom {
    position: relative;
    width: 96%;
    max-width: 500px;
    height: 70px;
    border-radius: 0 0 30px 30px;
    background-color: #151a36;
    display: flex;
    align-items: flex-end;
    top: -28px;
    z-index: 1;
    .title-audio {
      position: relative;
      width: auto;
      height: auto;
      font-size: 15px;
      font-weight: 600;
      color: white;
      margin-bottom: 10px;
      margin-left: 40px;
    }
  }
  .b-audio {
    position: relative;
    width: 96%;
    max-width: 500px;
    height: 140px;
    border-radius: 30px;
    background-color: #32439e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url("../../../content/images/bg_audio.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    .row-audio-circle {
      position: relative;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: lightsteelblue;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -73px;
      border: 5px solid #f6f8fb;
    }
  }
}
