@import '../../../content/scss/variables.scss';
.pdf-component-img {
  position: relative;
  width: 210px;
  height: 210px;
  @include smartphone {
    width: 160px;
    height: 160px;
  }
}
.btn-pdf-component {
  position: absolute;
  width: 120px;
  height: 40px;
  right: -105%;
  top: 165px;
  @include smartphone {
    top: 125px;
  }
}

.loader-pdf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  z-index: 3;

  @include smartphone {
    height: 200px;
  }
}
