<!-- Bloque 17: Indicador -->
<div class="row-cb17" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">
    <div class="line-indicator"></div>
    <div *ngFor="let component of contentBlock.bloqueComponentes.componentes; let index = index;" class="col-indicator">

        <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'image'"  class="block-indicator-img">
            <jhi-visor-image [component]="component" class="indicator-img"></jhi-visor-image>
        </div>

        <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'text'">
            <div *ngIf="contentBlock && contentBlock.bloqueComponentes.tipoBloqueComponentes" class="block-indicator-txt">
              <div class="underline-indicator"></div>
                <jhi-visor-text [component]="component"></jhi-visor-text>
            </div>
        </div>

    </div>
</div>
