@import '../../../content/scss/variables.scss';
.constructor-container-indicator {
  position: relative;
  width: 100%;
  height: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  align-items: center;
  .line-indicator {
    position: absolute;
    width: calc(100% - 300px);
    height: 2px;
    background-color: $input-border-light;
    left: 0;
  }
  .block-indicator-img {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-indicator-txt {
    position: relative;
    width: auto;
    min-width: 140px;
    max-width: 200px;
    height: auto;
    max-height: 60px;
    cursor: pointer;
    .underline-indicator {
      position: absolute;
      width: 50px;
      height: 4px;
      bottom: -5px;
      left: 0;
      background-color: #deca16;
    }
  }
}
