<div class="row-home">
  <div class="sidebar-home"></div>

  <div class="main-content-one">
    <div class="header-groups">
      <div class="title-a">Libros</div>
    </div>
    <div class="row-agrupador">
        <div class="grid-cards">
          <div class="box-card" *ngFor="let agrupador of agrupadores" (click)="selectGrouping(agrupador)" [routerLink]="['/visor', agrupador.id]">
            <div class="img-cover-box"></div>
            <div class="title-c" *ngIf="agrupador.titulo">{{agrupador.titulo}}</div>
          </div>
        </div>
        <!-- <ul>
            <li *ngFor="let agrupador of agrupadores">
                <a *ngIf="agrupador.titulo" (click)="selectGrouping(agrupador)" [routerLink]="['/visor', agrupador.id]">{{agrupador.titulo}}</a>
            </li>
        </ul> -->
    </div>
    <!-- <div class="row" *ngIf="agrupador">
        {{agrupador.titulo}}
    </div> -->
  </div>

  <div class="main-content-two">
    <div class="header-mc-two"></div>
    <div class="content-two">
      <div class="img-user-home"> <i class="icon ni-user"></i></div>
      <h3 class="name-user-home">Hola, Admin</h3>
      <div class="row-ct-home-gam">
        <div class="stars">
          <img src="../../../content/images/estrella.png" alt="">
          <img src="../../../content/images/estrella.png" alt="">
          <img src="../../../content/images/estrella_off.png" alt="">
        </div>
        <div class="coins">
          <img src="../../../content/images/moneda.png" alt="">
          <span>100</span>
        </div>
      </div>
      <div class="row-ct-home">
        <h4>Último inicio de sesión</h4>
        <p>1 de septiembre de 2020</p>
      </div>
      <div class="row-ct-home">
        <h4>Tus cursos</h4>
        <p>Matemáticas 5 <br> Español 5 <br> Self-English A1 </p>
      </div>
    </div>
  </div>
</div>
