.block {
    // border: 1px solid black;
    // margin: 5px;
    // width: 800px;
}
.modulo-container {
    // border: 1px solid blue;
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
