<!-- <h1>VISOR</h1> -->
<div class="header-book" *ngIf="agrupador && agrupador.titulo">
    <!-- <h3>Agrupador: {{agrupador.titulo}}</h3> -->
    <button routerLink="/groupings" class="main-btn">Regresar</button>
    <h3>{{agrupador.titulo}}</h3>
</div>
<div class="container" *ngIf="agrupador && agrupador.modulos">
    <div *ngFor="let modulo of agrupador.modulos">
        <div *ngIf="modulo && modulo.id" class="modulo-container">
            <div *ngIf="modulo.modulo">
                <jhi-modulo [modulo]=modulo.modulo></jhi-modulo>
            </div>
        </div>
    </div>
</div>
