<div *ngIf="activity && activity.contenido && activity.contenido.preguntas">
    <div *ngFor="let pregunta of activity.contenido && activity.contenido.preguntas" class="row-act-question-vs">
      <div class="row-question-a-vs">
        <span *ngIf="pregunta && pregunta.pregunta && pregunta.pregunta !== ''">{{pregunta.pregunta}}</span>
        <span *ngIf="pregunta && (!pregunta.pregunta || pregunta.pregunta === '')">Pregunta</span>
      </div>
      <!-- Recurso -->
      <div *ngIf="pregunta.tipoRecurso && pregunta.tipoRecurso !== ''" class="row-recurso">
        <div *ngIf="pregunta.tipoRecurso === 'Video'" class="recurso-p-video">
          <jhi-video-resource [path]="pregunta.path"></jhi-video-resource>
        </div>
        <div *ngIf="pregunta.tipoRecurso === 'Audio'" class="recurso-p-audio">
          <jhi-audio-resource [path]="pregunta.path"></jhi-audio-resource>
        </div>
        <div *ngIf="pregunta.tipoRecurso === 'Imagen'" class="recurso-p-imagen">
          <jhi-image-resource [path]="pregunta.path"></jhi-image-resource>
        </div>
      </div>
      <!-- Recurso termina -->
      <!-- <div></div> -->
        <!-- <b *ngIf="activity && activity.tipoActividadInteractiva && activity.tipoActividadInteractiva.opcion">
            Respuesta {{activity.tipoActividadInteractiva.opcion}}
        </b> -->
        <!-- <b>Marcada: {{pregunta.marcada}}</b> -->
        <div *ngIf="pregunta && pregunta.respuestas" class="row-answer">
            <div *ngFor="let respuesta of pregunta.respuestas" [ngClass]="{'disabled': calificada, 'seleccionada': respuesta.seleccionada}" (click)="selectAnswer(pregunta, respuesta)" class="answer-bg">
              <div class="bg-answer-animated" [ngClass]="{
                'correct': calificada && respuesta.seleccionada && respuesta.correcta,
                'incorrect': calificada && respuesta.seleccionada && !respuesta.correcta,
                'missed': calificada && !respuesta.seleccionada && respuesta.correcta
              }">
                <div class="icon-img-answer"></div>
              </div>
              <div *ngIf="(pregunta.tipoRespuestas !== 'Audio' && pregunta.tipoRespuestas !== 'Imagen') && respuesta && respuesta.respuesta" class="respuesta">
                  <span>{{respuesta.respuesta}}</span>
              </div>
              <div *ngIf="(pregunta.tipoRespuestas !== 'Audio' && pregunta.tipoRespuestas !== 'Imagen') && respuesta && (!respuesta.respuesta || respuesta.respuesta === '')" class="respuesta">
                <span>Respuesta</span>
              </div>
              <div *ngIf="pregunta.tipoRespuestas === 'Audio' && respuesta">
                <jhi-audio-resource [path]="respuesta.path"></jhi-audio-resource>
              </div>
              <div *ngIf="pregunta.tipoRespuestas === 'Imagen' && respuesta">
                <jhi-image-resource [path]="respuesta.path"></jhi-image-resource>
              </div>
            </div>
        </div>
    </div>
    <div class="row-btn-activity-score-vs" *ngIf="!calificada">
      <button class="main-btn" [disabled]="pendingAnswers" (click)="score()">Calificar</button>
    </div>

    <div class="row-score-vs" *ngIf="calificada">
      <div class="window-score-vs">
        <div class="socore-img-vs"></div>
        <div class="score-text">
          <div class="row-score-title-vs">
            <h3>Tu resultado:</h3>
          </div>
          <div class="score-mumber-vs">
            {{activityScore}}
          </div>
        </div>
      </div>
    </div>

</div>
