<div *ngIf="activity && activity.contenido && activity.contenido.preguntas">
    <div *ngFor="let pregunta of activity.contenido && activity.contenido.preguntas" class="row-act-question-vs">
      <div class="row-question-a-vs">
        <span *ngIf="pregunta && pregunta.pregunta;">{{pregunta.pregunta}}</span>
      </div>
        <!-- <b *ngIf="activity && activity.tipoActividadInteractiva && activity.tipoActividadInteractiva.opcion">
            Respuesta {{activity.tipoActividadInteractiva.opcion}}
        </b> -->
        <!-- <b>Marcada: {{pregunta.marcada}}</b> -->
        <div *ngIf="pregunta && pregunta.respuestas;">
            <div *ngFor="let respuesta of pregunta.respuestas" [ngClass]="{'disabled': calificada, 'seleccionada': respuesta.seleccionada}" (click)="selectAnswer(pregunta, respuesta)" class="answer-bg">
              <div class="bg-answer-animated" [ngClass]="{'correct': calificada && respuesta.seleccionada && respuesta.correcta, 'incorrect': calificada && respuesta.seleccionada && !respuesta.correcta}"></div>
                <div *ngIf="respuesta && respuesta.respuesta" class="respuesta">
                    <span>{{respuesta.respuesta}}</span>
                    <!-- <b>{{respuesta.correcta}}</b> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row-btn-activity-score-vs">
      <button class="main-btn" *ngIf="!calificada" (click)="score(activity)">Calificar</button>
    </div>
    <div class="row-score-vs" *ngIf="calificada">
      <div class="window-score-vs">
        <div class="socore-img-vs"></div>
        <div class="row-score-title-vs">
          <h3>Tu resultado:</h3>
        </div>
        <div class="score-mumber-vs">
          {{activityScore}}
        </div>
      </div>
    </div>

</div>
