<!-- Bloque 11: Cabecera -->
<div class="row-header-vs" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">

    <div *ngFor="let component of contentBlock.bloqueComponentes.componentes; let index = index;" class="col-header-vs">

      <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'text'" class="row-header-vs-text">
          <div *ngIf="contentBlock && contentBlock.bloqueComponentes.tipoBloqueComponentes">
            <jhi-visor-text [component]="component"></jhi-visor-text>
          </div>
      </div>
      <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'image'"  class="row-header-vs-img">
        <jhi-visor-image [component]="component"></jhi-visor-image>
      </div>

    </div>

  </div>
