<!-- Bloque de contenido: Título-->
Bloque 1
Título
  <div class="col-cb-title" *ngIf="contentBlock && contentBlock.bloqueComponentes">
    <div class="b-title-text" *ngFor="let component of contentBlock.bloqueComponentes.componentes!; let index = index;">
      <div *ngIf="contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.tipoBloqueComponentes">
        <!--
        <jhi-visor-text
          [component]="component"
          [templateType]="contentBlock.bloqueComponentes.tipoBloqueComponentes!"
          (updateComponent)="onUpdateComponent($event, index)">
        </jhi-visor-text>
        -->
      </div>
    </div>
  </div>
