@import '../../../content/scss/variables.scss';
// Bloque 3: Imagen
.row-cb3-image {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: $border-radius-image;
  @include smartphone {
    width: 90%;
    margin: 0 auto;
  }
}
.col-cb3 {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  @include smartphone {
    min-height: 230px;
  }

  jhi-visor-image {

  }
}
