@import './../../../content/scss/variables.scss';

.row-image-full {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.col-image-full {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

  jhi-visor-image {

  }
}
