<!-- Bloque de contenido: Acti idad interactiva-->
<!-- Bloque 10: Actividad interactiva -->
<div class="row-activity-vs" *ngIf="contentBlock && contentBlock.bloqueComponentes">
    <div class="b-audio" *ngFor="let component of contentBlock.bloqueComponentes.componentes!; let index = index;">
        <div *ngIf="component.tipoComponente && component.tipoComponente.nombre === 'text'">
            <jhi-visor-text [component]="component"></jhi-visor-text>
        </div>
        <div *ngIf="component.tipoComponente && component.tipoComponente.nombre === 'activity'">
            <jhi-visor-interactive-activity [component]="component"></jhi-visor-interactive-activity>
        </div>
    </div>
</div>
