<div class="row">
</div>
<div class="header-home">
  <div class="col-hh-1">
    <h2 class="">Nimbus Visor</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
  </div>
  <div class="col-hh-2"><div class="bg-home"></div></div>
</div>

<!-- Cards Plus services -->
<div class="row-plus z-2">
<div id="textContainer"></div>
<div class="col-plus">
  <!-- Row cards -->
  <div class="row-cards">
    <!-- Item card -->
    <div class="project-item pi-bg-1">
      <div class="project-item-content-1">
        <div class="img-plus img-plus-1"></div>
        <div class="title">Lorem ipsum</div>
      </div>
      <!-- Hide -->
      <div class="project-item-content-2">
        <h4>Lorem ipsum</h4>
        <div class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et.</div>
      </div>
      <!-- End Hide -->
    </div>
    <!-- End Item card -->
    <!-- Item card -->
    <div class="project-item pi-bg-1">
      <div class="project-item-content-1">
        <div class="img-plus img-plus-1"></div>
        <div class="title">Lorem ipsum</div>
      </div>
      <!-- Hide -->
      <div class="project-item-content-2">
        <h4>Lorem ipsum</h4>
        <div class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et.</div>
      </div>
      <!-- End Hide -->
    </div>
    <!-- End Item card -->
    <!-- Item card -->
    <div class="project-item pi-bg-1">
      <div class="project-item-content-1">
        <div class="img-plus img-plus-1"></div>
        <div class="title">Lorem ipsum</div>
      </div>
      <!-- Hide -->
      <div class="project-item-content-2">
        <h4>Lorem ipsum</h4>
        <div class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et.</div>
      </div>
      <!-- End Hide -->
    </div>
    <!-- End Item card -->
  </div>
  <!-- End row cards -->
  <!-- Row cards -->
  <div class="row-cards">
    <!-- Item card -->
    <div class="project-item in-up pi-bg-1">
      <div class="project-item-content-1">
        <div class="img-plus img-plus-1"></div>
        <div class="title">Lorem ipsum</div>
      </div>
      <!-- Hide -->
      <div class="project-item-content-2">
        <h4>Lorem ipsum</h4>
        <div class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et.</div>
      </div>
      <!-- End Hide -->
    </div>
    <!-- End Item card -->
    <!-- Item card -->
    <div class="project-item pi-bg-1">
      <div class="project-item-content-1">
        <div class="img-plus img-plus-1"></div>
        <div class="title">Lorem ipsum</div>
      </div>
      <!-- Hide -->
      <div class="project-item-content-2">
        <h4>Lorem ipsum</h4>
        <div class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et.</div>
      </div>
      <!-- End Hide -->
    </div>
    <!-- End Item card -->
    <!-- Item card -->
    <div class="project-item pi-bg-1">
      <div class="project-item-content-1">
        <div class="img-plus img-plus-1"></div>
        <div class="title">Lorem ipsum</div>
      </div>
      <!-- Hide -->
      <div class="project-item-content-2">
        <h4>Lorem ipsum</h4>
        <div class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, et.</div>
      </div>
      <!-- End Hide -->
    </div>
    <!-- End Item card -->
  </div>
  <!-- End row cards -->
</div>
</div>
