<div class="row-home">
  <div class="sidebar-home"></div>

  <div class="main-content-one">
    <div class="header-groups">
      <div class="text-h">
        <h3>Lorem ipsum dolor sit</h3>
        <!--<button routerLink="/course-configuration" class="main-btn">Ir a mis cursos</button> -->
        <button routerLink="groupings" class="main-btn">Ir a mis cursos</button>
      </div>
    </div>
    <div class="row-options-home">
      <div class="option-home"></div>
      <div class="option-home"></div>
      <div class="option-home"></div>
    </div>
  </div>

  <div class="main-content-two">
    <div class="content-two"></div>
  </div>
</div>
