<div class="row-home">
  <div class="sidebar-home"></div>

  <div class="main-content-one">
    <div class="header-groups">
      <div class="row-hg">
        <div class="text-h">
          <h3>Nimbus Visor</h3>
          <!--<button routerLink="/course-configuration" class="main-btn">Ir a mis cursos</button> -->
          <p>Es una App de libre acceso (IOS, Android o Web) que permite a profesores y alumnos ver el contenido generado por el constructor on line u off line.</p>
          <button routerLink="groupings" class="main-btn">Ir a mis cursos</button>
        </div>
        <div class="image-hg">
          <div class="img-hg"></div>
        </div>
      </div>

    </div>
    <!-- <div class="row-options-home">
      <div class="option-home">
        <div class="oh-img"></div>
        <h4>Medallas</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="option-home">
        <div class="oh-img"></div>
        <h4>Logros</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="option-home">
        <div class="oh-img"></div>
        <h4>Insignias</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div> -->

  </div>

</div>
