@import './../../../content/scss/variables.scss';
// Block 5 -Video
.col-cb-video {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
