<!-- Bloque de contenido: Video-->
Bloque 5: Video
<div class="col-cb-video" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">
        <div class="cc-video" *ngFor="let component of contentBlock.bloqueComponentes.componentes; let index = index;">
            <!--
            <jhi-constructor-video
                [component]="component" class="jhi-c-video"
                (updateComponent)="onUpdateComponent($event, index)"
                (updateMultimediaProperties)="onUpdateMultimediaProperties($event, index)">
            </jhi-constructor-video>
            -->
        </div>
    </div>
