<!-- Bloque 12: Colapsable -->
<div class="col-cb-text-img" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">
  <div *ngIf="contentBlock.bloqueComponentes.componentes[0] && contentBlock.bloqueComponentes.componentes[1]">
    <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header class="disable_ripple">
              <mat-panel-title>
                <jhi-visor-text [component]="contentBlock.bloqueComponentes.componentes[0]"></jhi-visor-text>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordion-text">
    
              <div class="block-header-txt">
                <jhi-visor-text [component]="contentBlock.bloqueComponentes.componentes[1]"></jhi-visor-text>
              </div>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
