@import '../../../content/scss/variables.scss';
.row-cb12-accordion {
  position: relative;
  width: 90%;
  height: auto;
  background-color: white;
  border: 1px solid #e7e8ed;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  background-image: url("../../../content/images/bg_accordion.svg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 400px;
  @include smartphone {
    width: 96%;
  }
}
