@import 'variables.scss';
// Componente Imagen
.answer-bg {
  &:hover {
    cursor: pointer !important;
    border: 1px solid $blue-nimbus-dark !important;
  }
  &:hover > div > jhi-image-resource > .image-resource-question > img {
    filter: brightness(80%);
  }
}
.answer-bg {
  div {
    jhi-image-resource {
      .image-resource-question {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        img {
          width: auto !important;
          height: 100% !important;
        }
      }
    }
  }
}
// .recurso-p-imagen {
//   jhi-image-resource {
//
//   }
// }

.recurso-p-imagen {
  .image-resource-question {
    width: 600px !important;
    margin: 0 auto;
    cursor: default !important;
    img {
    }
  }
}
