@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import 'variables.scss';
@import 'activity.scss';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
// @charset "UTF-8";
/*Import font*/
// Global Styles

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/content/fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/content/fonts/Open_Sans/OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/content/fonts/Open_Sans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/content/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'fontello';
  src: url('/content/fonts/Icons/fontello.eot?55274503');
  src: url('/content/fonts/Icons/fontello.eot?55274503#iefix') format('embedded-opentype'),
    url('/content/fonts/Icons/fontello.woff?55274503') format('woff'), url('/content/fonts/Icons/fontello.ttf?55274503') format('truetype'),
    url('/content/fonts/Icons/fontello.svg?55274503#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
body {
  font-family: 'Open Sans', sans-serif;
  // background-color: $background-color-light !important;
  background-color: #f6f8fb !important;
  margin: 0 !important;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  color: $blue-nimbus-dark;
}
/* Font styles */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 38px;
  font-weight: 600;
  font-style: normal;
  color: #283d8e;
}
h2 {
  font-size: 34px;
  font-weight: 600;
  font-style: normal;
  color: #28064d;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #003170;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #4a5161;
}
p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: $text-color;
  line-height: 24px;
  @include smartphone {
    font-size: 13px;
  }
}
// Text Editor
.ql-editor {
  p {
    font-size: 18px;
    color: #212529;
    line-height: 1.72em;
  }
}
strong {
  font-weight: 700;
}
/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}
/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}
a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}
.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}
.error {
  color: white;
  background-color: red;
}
.pad {
  padding: 10px;
}
.w-40 {
  width: 40% !important;
}
.w-60 {
  width: 60% !important;
}
.break {
  white-space: normal;
  word-break: break-all;
}
.readonly {
  background-color: #eee;
  opacity: 1;
}
// Main Layout
.navBar {
  width: 100%;
  height: 45px;
}
.containerHome {
  position: relative;
  width: 100%;
  height: calc(100vh - 85px);
  overflow-y: auto;
}
.footerHome {
  position: relative;
  width: 100%;
  height: 40px;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.line-footer {
  position: relative;
  width: 100%;
  height: auto;
  height: 39px;
  border-top: 1px solid $window-divider-color;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 12px;
    .icon {
      color: $text-color;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.hand,
[jhisortby] {
  cursor: pointer;
}
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}
@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-bar {
  position: relative;
  width: 100%;
}
// Styles
// btn Login
.row-btn-login-modal {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
// Buttons
// Main button style
.main-btn {
  position: relative;
  width: auto;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  color: $btn-text-white;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: $main-btn-color;
  transition: all 0.3s ease;
  &:hover {
    background-color: $main-btn-color-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
  i {
    margin-right: 8px;
    color: white;
  }
}
.main-btn.btn-color-1 {
  background-image: linear-gradient(to right, #00ceff, #00b1ff, #00b1ff, #0083c5);
}
.main-btn.disabled,
.main-btn:disabled {
  opacity: 0.7;
  pointer-events: none;
  box-shadow: none !important;
}
// Secondary button
.secondary-btn {
  position: relative;
  width: auto;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $secondary-btn-color;
  border-radius: 14px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 8px;
    color: white;
  }

  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
// Status Button
.btn-status {
  position: relative;
  width: auto;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.btn-status.disabled,
.btn-status:disabled {
  opacity: 0.7;
  pointer-events: none;
  box-shadow: none;
}

// Circle button
.btn-circle {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: $main-btn-color;
  border: 0;
  outline: none;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 30px rgba(26, 61, 130, 0.1), 0 6px 18px rgba(26, 61, 130, 0.12);
  .icon {
    color: white;
  }
  &:hover {
    background-color: $main-btn-color-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

// Font Icons
.icon {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  color: $icon-main-color;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-shadow: 2px 1px 6px rgba(26, 61, 130, 0.3);
}
.icon-small {
  font-size: 20px;
}
.icon-medium {
  font-size: 24px;
}
.icon-large {
  font-size: 30px;
}
.icon-xlarge {
  font-size: 38px;
}
.icon-secondary-color {
  color: $icon-secondary-color;
}
.icon-negative {
  color: white;
}

*:focus {
  outline: none;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.modal-backdrop {
  background-color: darkgrey;
}
.modal-dialog {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  pointer-events: none;
}
.modal-content {
  position: relative;
  width: 100% !important;
  height: 100vh !important;
  pointer-events: auto;
  background-color: transparent !important;
  background-clip: initial !important;
  border: none !important;
  border-radius: 0 !important;
  outline: 0;
}
@media only screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;
    margin: 0 !important;
  }
}
jhi-login-modal {
  height: 100%;
}
.modal-login-container {
  position: relative;
  width: 480px;
  height: auto;
  min-height: 526px;
  margin: 0 auto;
  background-color: $bg-white;
  border-radius: 8px;
  top: 50%;
  margin-top: -263px;
  padding-top: 25px;
  box-shadow: 0 20px 30px rgba(16, 18, 51, 0.1), 0 6px 18px rgba(16, 18, 51, 0.12);
  @include smartphone {
    width: 360px;
    min-height: auto;
    padding-bottom: 15px;
  }

  .btn-close-modal-login {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
    transition: 0.4s;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 30px;
      cursor: pointer;
    }
    &:hover {
      background-color: $btn-white-hover;
    }
  }

  .modal-login-body {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .row-modal-login-modal {
      position: relative;
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include smartphone {
        width: 84%;
      }

      .logo-login-modal {
        position: relative;
        width: 170px;
        height: 120px;
        background-image: url('/content/images/logo_login.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        margin-top: 10px;
        @include smartphone {
          width: 140px;
          height: 100px;
        }
      }

      .col-form-login {
        position: relative;
        width: 340px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        @include smartphone {
          width: 100%;
        }

        form {
          position: relative;
          width: 100%;
          height: auto;

          .form-group {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label {
              color: $label-color;
              position: relative;
              width: auto;
              height: auto;
              margin-left: 10px;
              @include smartphone {
                font-size: 13px;
              }
            }
            input {
              position: relative;
              width: 100%;
              height: 40px;
              background-color: $input-color;
              border: 0;
              border-radius: 16px;
              border: 2px solid $input-border-light;
              outline: none;
              padding-left: 40px;
              &:focus {
                outline: none !important;
                border-color: $input-border-color;
                box-shadow: 0 0 10px transparent;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-height: 500px) {
  .modal-login-container {
    top: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.icon-form-login {
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.row-modal-l-check {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  .rmlc-1 {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;

    .form-check-label {
      position: relative;
      width: auto;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      &:hover > span {
        color: $a-color-nd-hover !important;
      }

      input.form-check-input {
        position: relative;
        width: 16px;
        height: 16px;
        margin-left: 0;
        display: flex;
        align-items: center;
        top: -2px;
      }
      span {
        position: relative;
        width: auto;
        height: auto;
        color: $a-color-nd;
        font-weight: 600;
        font-size: 14px;
        margin-left: 4px;
        transition: 0.3s;
        @include smartphone {
          font-size: 12px;
        }
      }
    }
  }
  .rmlc-2 {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;

    a {
      position: relative;
      width: auto;
      height: auto;
      font-size: 14px;
      cursor: pointer;
      color: $a-color-nd;
      font-weight: 600;
      transition: 0.3s;
      @include smartphone {
        font-size: 12px;
      }
      &:hover {
        color: $a-color-nd-hover;
      }
    }
  }
}
.row-cfl-register {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  p {
    margin-right: 10px;
  }
  a {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    cursor: pointer;
    color: $a-color-nd;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      color: $a-color-nd-hover;
    }
    @include smartphone {
      font-size: 12px;
    }
  }
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.container-components-book {
  position: relative;
  width: 100%;
  height: auto;
  .row-ccb {
    position: relative;
    width: 100%;
    height: auto;
    .row-ccb1 {
      position: relative;
      width: 100%;
      height: auto;
      .row-ccb2 {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
// Content Blocks Bloques de contenido
.standard-container {
  position: relative;
  width: 96%;
  max-width: 1300px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  // border: 1px solid $window-divider-color;
}
// Components block
// Image full
.col-image-full {
  jhi-visor-image {

    .block-img {
      position: relative;
      width: 100%;
      max-width: 1280px !important;
      height: auto;
    }
  }
}
// Audio
.row-audio-circle {
  jhi-visor-audio {
    img {
      position: relative;
      width: 65px;
      height: 65px;
    }
    audio {
      position: relative;
      top: 96px;
      z-index: 10;
      filter: invert(1);
    }
  }
}
.col-cb1-text {
  jhi-visor-text {
    .final-block-row {
      .ql-editor {
        h1 {
          text-align: center;
        }
      }
    }
  }
}
// CB 14 Texto con imagen
.text-img-image-vs {
  jhi-visor-image {
    img {
      min-height: 300px;
    }
  }
}
// cb11 Cabecera
.col-cb11-text {
  div {
    jhi-visor-text {
      .final-block-row {
        .ql-editor {
          h1 {
            color: white;
            font-size: 48px;
            font-weight: 700;
            span {
              color: white;
              font-size: 48px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
.col-cb11-image {
  jhi-visor-image {
    .block-img {
      width: auto;
      height: 100%;
      @include smartphone {
        width: auto;
        height: 100%;
      }
    }
  }
}

.mat-test {
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      .mat-expansion-indicator {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        &:hover {
          background-color: #e7e8ed;
        }
      }
    }
  }
}

// Loader
.loader2 {
  height: 50px;
  width: 50px;
  position: relative;
}
.loader2::after,
.loader2::before,
.loader2::after,
.loader2::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  border: solid 8px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
  animation: wiggle 1.4s ease infinite;
}
.loader2::before,
.loader2::before {
  border-top-color: $blue-nimbus-light;
  border-bottom-color: $blue-nimbus-light;
}
.loader2::after,
.loader2::after {
  border-left-color: $blue-nimbus-dark;
  border-right-color: $blue-nimbus-dark;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
