<quill-editor [(ngModel)]="htmlContent" (focusout)="noWrite()" class="editor" (onEditorCreated)="afterCreated($event)" [placeholder]="placeholder">
    <div quill-editor-toolbar>
    <span class="ql-formats" [hidden]="isTitle">
      <select class="ql-align"></select>
    </span>
    <span class="ql-formats">
      <select class="ql-font">
        <option selected >Arial</option>
        <option value="times-new-roman">Times New Roman</option>
        <option value="calibri">Calibri</option>
        <option value="comic-sans-ms">Comic Sans MS</option>
      </select>
        <!--<select class="ql-size"></select>-->
    </span>
    <span class="ql-formats" [hidden]="isTitle">
      <button class="ql-list" value="bullet"></button>
      <button class="ql-list" value="ordered"></button>
            <!--<button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>-->
    </span>
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
     <!-- <button class="ql-strike"></button>-->
    </span>
    <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>
   <!-- <span class="ql-formats">
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
      <button class="ql-link"></button>
    </span>-->
    <span class="ql-formats" [hidden]="!isTitle">
     <select class="ql-header" [(ngModel)]="headingSelect">
        <option value="1">Heading 1</option>
        <option value="2">Heading 2</option>
        <option value="3">Heading 3</option>
        <option value="4">Heading 4</option>
        <option value="5">Heading 5</option>
        <option value="6">Heading 6</option>
      </select>
    </span>
    <!--<span class="ql-formats">
       <select class="ql-size"></select>
    </span>-->
    <!--<span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>-->
    </div>
</quill-editor>

